:host {
  color: #555;
  display: block;
  font-size: 18px;
  font-family: monospace;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  outline: none;
  overflow-y: scroll;
  resize: none;
  user-select: text;
  -webkit-user-select: text;
}

textarea {
  position: absolute;
  left: -9999px;
}

.CodeMirror {
  background-color: transparent;
  height: 100%;
}

.CodeMirror-gutters {
  border-right: 0;
  background-color: transparent;
  white-space: nowrap;
}

.CodeMirror-foldmarker {
  color: #666666;
  text-shadow: none;
  padding-left: 10px;
}

.CodeMirror-sizer {
  border-right: 0 !important;
}

.cm-s-default .cm-header {
  color: initial;
}

.cm-s-default .cm-comment {
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  font-size: 16px;
}

.CodeMirror-gutter-wrapper {
  left: -27px;
}

.CodeMirror-gutter-elt {
  width: 27px;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
  width: 27px;
  text-align: center;
}

.CodeMirror-foldgutter {
  width: 27px;
}

.CodeMirror-guttermarker-subtle {
  color: #666666;
}

.CodeMirror-foldgutter-open:after {
  content: "-";
}

.CodeMirror-foldgutter-folded:after {
  content: "+";
}

.CodeMirror-focused .CodeMirror-selected {
  background-color: #cfd8dc; // --paper-blue-grey-100
}

.CodeMirror-selected {
  background-color: #ffebee; // --paper-red-50
}

